@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRightToLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideLeftToRight {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
// custom tailwinds
.trans-200{
    @apply transition-all duration-200 ease-out
}
.trans-300{
    @apply transition-all duration-300 ease-out
}
.trans-500{
    @apply transition-all duration-500 ease-out
}
// section-main-admin
.section-main-admin{
    margin-left: 20%;
    padding: 1rem;
}
.section-main-admin-hidden-navbar{
    margin: 0;
}
// Menu - admin - navbar
.navbar-admin{
    @apply fixed top-0 left-0 w-1/5 h-screen bg-transparent p-3;
    animation: slideRightToLeft 0.3s;
}
.hidden-navbar-admin{
    animation: slideLeftToRight 0.3s;
    transform: translateX(-100%);
}
.active-menu{
    @apply bg-gray-200 text-gray-700 font-medium
}
.nav-menu-admin{
    @apply p-3 rounded-lg inline-flex items-center text-sm gap-2 w-full transition duration-200 ease-out hover:bg-gray-200 hover:font-medium
}
.menu-list{
    .menu-list-btn{
        @apply p-3 rounded-lg inline-flex items-center justify-between text-sm gap-2 w-full transition duration-200 ease-out hover:bg-gray-200 hover:font-medium
    }
    .sub-menu-list{
        @apply flex flex-col hidden;
        .sub-menu-list-item{
            @apply w-full block p-2 rounded-lg pl-10 text-gray-400 text-sm transition duration-200 ease-out hover:text-gray-700 hover:font-medium
        }
        .active-menu-sub{
            @apply  text-gray-700 font-medium
        }
    }

}
.global-admin-title{
    @apply font-medium text-lg my-2;
}


// Select custom
.select-custom-container{
    @apply relative;
    .select-custom-button{
        @apply block relative bg-white border border-gray-300 text-gray-500 text-sm rounded-lg outline-0 focus:ring-orange-500 focus:border-orange-500 w-full p-2 text-left;
        &::after{
            position: absolute;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
            content: " ";
            width: 0.8rem;
            height: 0.8rem;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .select-custom-dropdown{
        @apply absolute hidden bg-white p-3 top-[110%] right-0 z-20 block rounded-lg shadow-xl border border-orange-200 w-full;
        .select-custom-search{
            @apply bg-transparent px-2 py-1 text-gray-500 rounded-lg w-full outline-none border text-sm transition duration-200 focus:border-orange-500 focus:shadow-md;
        }
        .select-custom-results{
            @apply flex flex-col p-0 mt-2 gap-0 cursor-pointer max-h-[15rem] overflow-auto;
            li{
                @apply bg-transparent text-gray-500 px-2 py-1 text-sm rounded-lg transition duration-200 hover:bg-gray-100
            }
        }
    }

}

