@tailwind base;
@tailwind components;
@tailwind utilities;

#navmenu__left-section {
    @apply relative  min-h-screen h-auto bg-[#0E162A] text-white duration-300 w-72;
    #navmenu__left-container {
        @apply flex flex-col gap-2;

        .navmenu__left-item {
            @apply text-gray-200 text-sm flex items-center gap-2 cursor-pointer p-3 duration-200 hover:bg-[#1E283A] rounded-md;
            .navmenu__left-sub-item {
                @apply flex flex-col;
            }
        }
    }
}

.dropdown__container {
    position: relative;
    .dropdown__btn {
    }
    .dropdown__content {
        @apply absolute hidden w-auto min-w-[10rem] top-10 right-0 h-auto bg-white rounded-lg shadow-2xl py-2 z-20;
    }
}

@keyframes toastAnimate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#toast-section {
    @apply fixed w-full max-w-xs bg-transparent h-auto right-2 bottom-5 z-50 flex flex-col gap-2;
    .toast-container {
        animation: toastAnimate 0.3s;
        &[role="success"] {
            @apply relative flex items-center justify-between w-full p-4 text-gray-500 bg-green-100 rounded-lg shadow-xl transition duration-200 hover:-translate-y-1 cursor-pointer;
            .icon-holder {
                @apply inline-flex items-center justify-center w-8 h-8 text-green-600 text-3xl;
            }
        }

        &[role="error"] {
            @apply relative flex items-center w-full p-4 text-gray-500 bg-red-100 rounded-lg shadow-xl transition duration-200 hover:-translate-y-1 cursor-pointer;
            .icon-holder {
                @apply inline-flex items-center justify-center w-8 h-8 text-red-600 text-3xl;
            }
        }

        &[role="warning"] {
            @apply relative flex items-center w-full p-4 text-gray-500 bg-yellow-100 rounded-lg shadow-xl transition duration-200 hover:-translate-y-1 cursor-pointer;
            .icon-holder {
                @apply inline-flex items-center justify-center w-8 h-8 text-yellow-600 text-3xl;
            }
        }
        .content {
            @apply ml-3 text-sm font-normal max-w-full break-all;
        }
        .btn-close {
            @apply ml-auto text-gray-500 -mx-1.5 -my-1.5  hover:scale-150;
        }
    }
}

.select-custom-container{
    @apply relative;
    .select-custom-button{
        @apply block relative bg-white border border-gray-300 text-gray-500 text-sm rounded-lg outline-0 focus:ring-purple-300 focus:border-purple-300 w-full p-2 text-left;
        &::after{
            position: absolute;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
            content: " ";
            width: 0.8rem;
            height: 0.8rem;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .select-custom-dropdown{
        @apply absolute hidden bg-white p-3 top-[110%] right-0 z-20 block rounded-lg shadow-xl border border-purple-300 w-full;
        .select-custom-search{
            @apply bg-transparent px-2 py-1 text-gray-500 rounded-lg w-full outline-none border text-sm transition duration-200 focus:border-purple-300 focus:shadow-md;
        }
        .select-custom-results{
            @apply flex flex-col p-0 mt-2 gap-0 cursor-pointer max-h-[15rem] overflow-auto;
            li{
                @apply bg-transparent text-gray-500 px-2 py-1 text-sm rounded-lg transition duration-200 hover:bg-gray-100
            }
        }
    }
}

.form-group{
    @apply flex flex-col gap-1;
    .form-label{
        @apply text-sm font-medium;
    }
    .form-input{
        @apply rounded-lg p-2 outline-purple-300 text-sm border duration-200 focus:shadow-md;
    }
}
